{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/footer.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid mt-4 mb-5">
    <div class="row">
        <div class="col-lg-12" id="photos-footer">
            <img src="{% static 'images/fond3.jpg' %}" alt="fond3">
            <img src="{% static 'images/fond2.jpg' %}" alt="fond2">
            <img src="{% static 'images/fond5.jpg' %}" alt="fond1">
            <img src="{% static 'images/fond4.jpg' %}" alt="fond4">
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center" id="footer">
        <div class="col-lg-4">
            <div class="footer1">
                <p>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-square-facebook"></i></a>
                    <a href=""><i class="fab fa-telegram"></i></a>
                    <a href="" class="name">Mr.S - Original Fine Art</a>
                </p>
            </div>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-3">
            <div class="footer2 mb-3">
                Made by <a href="">Kamdem Brice</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}