{% extends "base.html" %}
{% load static %}
{% block title %} Mr.s | About page {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{% static 'css/photos/about.css' %}"> {% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="about-home-section">
        <div class="col-lg-12">
            {% include "navbar.html" %}
        </div>
    </div>
    <div class="container mt-5" id="about-page">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2 mt-5">
                <h2>The ARTist</h2>
                <br>
                <img src="{% static 'images/logo.jpg' %}" height="800px" class="img-fluid">
                <p class="text-about mt-5 ">
                    Rafael Paiva has been a Professional Photographer and Photo Retoucher since 2010. <br><br>
                    His rich portfolio is marked by collaborations with a wide spectrum of clients,
                    ranging from major corporations to independent artists. His specialties are Commercial
                    Photography and Personal Branding content. <br><br>
                    With a career steeped in both creativity and technical expertise, Rafael has emerged as
                    a well-round professional known for his ability to navigate the unique demands of a diverse
                    high-end clientele. <br><br>
                    Rafael's corporate experience is strong and on-going. He worked as Senior Retoucher for
                    Nike/Converse from 2018/2024, where his mastery of detail and innovative vision significantly
                    contributed to the brand's visual. <br><br>
                    He currently works at Apple TV as Senior Retoucher for Sports and TV. <br><br>
                    Rafael started to expand beyond photography in 2024. His explorations around Filmmaking
                    reflects his passion for pushing the boundaries of visual storytelling. <br><br>
                    Rafael's journey underscores not only his adaptability but also his pivotal role in shaping
                    and enhancing the visual identities of the clients he works. <br><br><br>
                </p>
                <a href="{% url 'contact' %}" class="btn-about mb-5">Allez Contacte moi !</a>
            </div>
        </div>
    </div>
    <div class="row text-center mt-5" id="citation-about">
        <div class="col-lg-8 offset-lg-2">
            <h5>"Le Dessin est une poésie muette, et la poésie est une dessin aveugle.
            L’une parle par les formes, l’autre se dessine dans les mots.
            Mais toutes deux cherchent la même chose : donner une âme à ce que la nature a laissé inachevé."</h5>
            <br><p>- Léonard de Vinci</p>
        </div>
    </div>
    <div class="row text-center mt-3">
        <h4>Follow me on Instagram</h4>
        <p><i class="fab fa-instagram"></i> SirkoulouSylvestre.art</p>
    </div>
    {% include "footer.html" %}
</div>

{% endblock content %}