{% extends "base.html" %}
{% load static %}
{% block title %} Mr.s | About page {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{% static 'css/photos/about.css' %}"> {% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="about-home-section">
        <div class="col-lg-12">
            {% include "navbar.html" %}
        </div>
    </div>
    <div class="container mt-5" id="about-page">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2 mt-5">
                <h2>The ARTist</h2>
                <br>
                <img src="{% static 'images/logo.jpg' %}" height="800px" class="img-fluid">
                <p class="text-about mt-5 ">
                    Sirkoulou Sylvestre est un Artiste Dessinateur et peintre professionnel depuis plus de 10 ans. <br><br>
                    Ce riche portfolio est concu pour toutes vos collaborations avec des potentiels clients et passionnés de dessin,
                    de grandes entreprises à des artistes indépendants, ses spécialités sont les portrait commerciale et le
                    contenu de marque personnelle.
                    <br><br>
                    Avec une carrière mêlant créativité et expertise technique, Sirkoulou sylvestre s’est imposé comme un professionnel accompli, reconnu
                    pour sa capacité à répondre aux exigences uniques d’une clientèle haut de gamme et diversifiée.
                    <br><br>
                    L’expérience de Mr.S dans le domaine corporate est solide et continue. Il a travaillé comme Dessinateur pour
                    plusieurs clients et particuliers de 2018 à 2025 a nos jours, où sa maîtrise du détail et sa vision innovante ont largement contribué à l’identité
                    visuelle de sa technique.
                    <br><br>
                    Il travaille actuellement chez a son atelier situé au quartier biyem-assi en tant que artiste freelance pour toutes cooperation en freelance et en entreprise.
                    <br><br>
                    En 2019, Mr.S a commencé à élargir son champ d’action au-delà du dessin au crayon sur format A4. Ses explorations dans la peinture
                    reflètent sa passion pour repousser les limites du récit visuel.
                    <br><br>
                    Le parcours de Sirkoulou Sylvestre met en lumière non seulement son adaptabilité, mais aussi son rôle essentiel dans la création et
                    l’amélioration des identités visuelles de ses clients.
                    <br><br><br>
                </p>
                <a href="{% url 'contact' %}" class="btn-about mb-5">Allez Contacte moi !</a>
            </div>
        </div>
    </div>
    <div class="row text-center mt-5" id="citation-about">
        <div class="col-lg-8 offset-lg-2">
            <h5>"Le Dessin est une poésie muette, et la poésie est une dessin aveugle.
            L’une parle par les formes, l’autre se dessine dans les mots.
            Mais toutes deux cherchent la même chose : donner une âme à ce que la nature a laissé inachevé."</h5>
            <br><p>- Léonard de Vinci</p>
        </div>
    </div>
    <div class="row text-center mt-3">
        <h4>Follow me on Instagram</h4>
        <p><i class="fab fa-instagram"></i> SirkoulouSylvestre.art</p>
    </div>
    {% include "footer.html" %}
</div>

{% endblock content %}