{% extends "base.html" %}
{% load static %}
{% block title %} Mr.S | Home page {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/portfolioMrs/home.css' %}">{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="home-section">
        {% include "navbar.html" %}
        <div class="col-lg-12 text-center" id="home-text">
            <h1>Inspiration - Passion</h1>
            <h2>Expression</h2>
            <br><br>
            <a href="" class="shop-button">Shop</a>
        </div>
    </div>
    <div class="container-fluid mb-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 text-center" id="about-image">
                    <img src="{% static 'images/fond2.jpg' %}" width="100%">
                </div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-6 col-md-5" id="about-text">
                    <h2>🎨 À propos de l'Artiste</h2><br>
                    <p>
                        Depuis l'enfance, ce jeune artiste n’a jamais lâché son crayon.<br><br>
                        Ce qui a commencé comme des croquis griffonnés dans les marges est vite devenu une 
                        passion dévorante, un langage visuel à part entière. 
                        <br><br>Chaque trait, chaque ombre, chaque 
                        personnage qu’il crée raconte une histoire, reflète une émotion, ou capte un instant 
                        suspendu.
                        <br><br>Autodidacte curieux et perfectionniste, il explore sans cesse de nouveaux 
                        styles, entre réalisme, manga et illustration numérique. <br><br>
                        Son univers graphique est en 
                        constante évolution, porté par une énergie créative authentique et une volonté farouche 
                        de faire vibrer le regard.
                        <br><br>Bienvenue dans l’imaginaire d’un dessinateur qui dessine avec
                         le cœur autant qu’avec la main.
                    </p><br><br>
                    <a href="" class="btn-about">Contactez Mr.S</a>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="artwork">
        <div class="row text-center">
            <div class="col-lg-10 offset-lg-1">
                <p class="text-artwork">
                    Autodidacte curieux et perfectionniste, j'explore sans cesse de nouveaux 
                    styles, entre réalisme, manga et illustration numérique.
                </p>
                <br><br>
                <a href="">Explore Mon Travail</a>
            </div>
        </div>
    </div>
    <div class="row text-center" id="title-artwork">
            <div class="col-lg-12 mb-4">
                <p>Mes Meilleurs Realisations</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="masonry">
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="grid">
                    {% for photo in photos %}
                        <div class="grid-item">
                            <img src="{{ photo.image.url }}" alt="{{ photo.titre }}">
                        </div>
                    {% empty %}
                        <p>Aucune photo disponible pour le moment.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row text-center mb-5 mt-4">
            <div class="col-lg-12">
                <a href="" class="buy-button">Achetez un dessin ?</a>
            </div>
        </div>
    </div>
    <br><br> <br>
    <div class="container-fluid mb-5" id="commissions">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="commissions-img">
                    <h1>A votre service !</h1>
                    <br>
                    <img src="{% static 'images/fond5.jpg' %}" width="100%">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5" id="commissions-text">
                    <h4>Des créations sur mesure, rien que pour vous</h4>
                    <br>
                    <p>
                        Que vous ayez une idée précise ou juste une envie, je transforme vos idées en illustrations uniques. 
                        Portraits, personnages originaux, affiches ou projets personnalisés : chaque commande est réalisée avec soin,
                         passion et un style qui vous ressemble.
                    </p>
                    <br>
                    <a href="" class="btn-contact">Contact</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-5" id="commissions-text">
                    <h4>Un échange simple, une collaboration fluide</h4>
                    <br>
                    <p>
                       Je crois que chaque commande est avant tout une rencontre. 
                       Je prends le temps d’écouter, de comprendre vos attentes, et de proposer des 
                       visuels qui dépassent vos espérances. Que ce soit pour un cadeau, un projet pro ou perso, 
                       je suis là pour donner vie à vos idées.
                    </p>
                    <br>
                    <a href="" class="btn-contact">Contact</a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6" id="commissions-img">
                    <br>
                    <img src="{% static 'images/fond6.jpg' %}" width="100%">
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Follow me on Instagram</h2>
                <i class="fab fa-instagram"></i> SirkoulouSylvestre.art
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>

{% block js %}
    <script src="{% static 'js/portfolioMrs/home.js' %}" defer></script>
{% endblock js %}
{% endblock content %}
