{% extends "base.html" %}
{% load static %}
{% block title %} Mr.s | Store page {% endblock title %}
{% block styles %} <link rel="stylesheet" href="{% static 'css/photos/dessin_detail.css' %}"> {% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="navbar">
        <div class="col-md-12">
            {% include "navbar.html" %}
        </div>
    </div>
    <div class="container">
        <div class="row mt-5" id="dessin-detail">
            <div class="col-md-8 mb-4" class="detail-image">
                <img src="{{ photo.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-4" class="detail-text">
                <h1>{{photo.title}}</h1>
                <h4>{{photo.price}} FCFA</h4>
                <hr>
                <p>Technique : {{photo.technique}}</p>
                <p>Taille : {{photo.size}}</p>
                <h6>{{photo.description}}</h6>
            </div>
        </div>
        <div class="row text-center mt-5 mb-3">
            <div class="col-lg-4">
                <div class="footer1">
                    <p>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-square-facebook"></i></a>
                        <a href=""><i class="fab fa-telegram"></i></a>
                        <a href="" class="name">Mr.S - Original Fine Art</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-3">
                <div class="footer2 mb-3">
                    Made by <a href="">Kamdem Brice</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}